:root {

  --accent: rgba(236,12,104,.8);
  --white: #fff;
  --light-grey: #666;
  --medium-grey: #444;
  --dark-grey: #333;

  --light-blue: #8ebbdc;
  --medium-blue: #3c90cc;
  --dark-blue: #27638e;

  --default-border-width: 1px;
  --default-border-color: #555;
  --default-border: var(--default-border-width) solid var(--default-border-color);

  --navigation-bgc: var(--light-grey);
  --navigation-item-hover-bgc: var(--medium-grey);
  --navigation-item-active-bgc: var(--accent);
  --navigation-item-border-color: var(--default-border-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--dark-grey);
}

ul {
  overflow: hidden;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.page-host {
  margin: 2em;
}

nav {
  display: block;
  background-color: var(--navigation-bgc);
}

nav li:not(.active):hover {
  background-color: var(--navigation-item-hover-bgc);
}

nav li {
  float: left;
  border-right: var(--default-border-width) solid var(--navigation-item-border-color);
}

nav a {
  padding: 1em 2em;
  color: var(--white);
}

nav .active {
  background-color: var(--navigation-item-active-bgc);
}


button {
  padding: 1em;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  color: var(--white);
  background-color: var(--medium-grey);
  font-size: 18px;
}


/* forms
------------------------------*/

form {
  width: 100%;
}

.form-group {
  margin-bottom: 2em;;
}

label {
  display: block;
  margin-bottom: .5em;
  font-size: 20px;
}

input {
  padding: .5em;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.help-block {
  display: inline-block;
  margin-top: 8px;;
  border-radius: 4px;
  color: var(--light-blue);
}

.help-block:before {
  margin-right: 4px;
  content: "\02718";
}

/* multi-step-view
------------------------------*/

multi-step-view {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  min-height: 600px;
  background-color: var(--dark-blue);
  color: var(--white);
}

multi-step-view-header,
multi-step-view-body,
multi-step-view-footer {
  display: flex;
  padding: 2em;
}

multi-step-view-header,
multi-step-view-footer {
  justify-content: space-between;
}

multi-step-view-body {
  flex: auto;
  flex-direction: column;
}

multi-step-view-header {
  background-color: #444;
}

multi-step-view-footer {
  background-color: var(--medium-blue);
}

multi-step-view button {
  background-color: var(--dark-blue);
}

multi-step-view-header span {
  padding: 8px;
  border-radius: 4px;
  background-color: #555;
}

ai-dialog-overlay.active {
  opacity: 0.5 !important;
  background-color: #000;
}
