:root {

  --accent: rgba(236,12,104,.8);
  --white: #fff;
  --black: #000;

  --grey-light: #666;
  --grey-medium: #444;
  --grey-dark: #333;

  --blue-light: #8ebbdc;
  --blue-medium: #3c90cc;
  --blue-dark: #27638e;
  --blue-deep: #205377;

  --default-font-size: 18px;
  --default-border-radius: 4px;
  --default-border-width: 1px;
  --default-border-color: #555;
  --default-border: var(--default-border-width) solid var(--default-border-color);

  --navigation-bgc: var(--grey-light);
  --navigation-item-hover-bgc: var(--grey-medium);
  --navigation-item-active-bgc: var(--accent);
  --navigation-item-border-color: var(--default-border-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--grey-dark);
  font-size: var(--default-font-size);
}

p {
  margin: .5em 0;
}

ul {
  overflow: hidden;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.page-host {
  margin: 2em;
}

nav {
  display: block;
  background-color: var(--navigation-bgc);
}

nav li:not(.active):hover {
  background-color: var(--navigation-item-hover-bgc);
}

nav li {
  float: left;
  border-right: var(--default-border-width) solid var(--navigation-item-border-color);
}

nav a {
  padding: 1em 2em;
  color: var(--white);
}

nav .active {
  background-color: var(--navigation-item-active-bgc);
}

button {
  padding: 0.5em 1em;
  color: var(--white);
  background-color: var(--grey-light);
  border: 4px solid var(--grey-light);
  border-radius: var(--default-border-radius);
  font-size: var(--default-font-size);
  font-weight: bold;
}

button:hover {
  border: 4px solid var(--grey-medium);
}

dl {
  margin: 1em 0;
}

dt {
  color: var(--blue-light);
}

dd {
  margin: .5em 0;
  padding: .5em;
  background-color: var(--blue-deep);
  border-radius: var(--default-border-radius);
  word-wrap: break-word;
}


/* forms
------------------------------*/

form {
  width: 100%;
}

.form-group {
  margin-bottom: 2em;;
}

label {
  display: block;
  margin-bottom: .5em;
  font-size: 20px;
}

input {
  padding: .5em;
  width: 100%;
  border: none;
  border-radius: var(--default-border-radius);
  font-size: 100%;
}

.help-block {
  display: inline-block;
  margin-top: 8px;
  color: var(--blue-light);
}

.help-block:before {
  margin-right: 4px;
  content: "\02718";
}

/* multi-step-view
------------------------------*/

multi-step-view {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  min-height: 400px;
  background-color: var(--blue-dark);
  color: var(--white);
}

multi-step-view-header,
multi-step-view-body,
multi-step-view-footer {
  display: flex;
  padding: 2em;
}

multi-step-view-header,
multi-step-view-footer {
  justify-content: space-between;
}

multi-step-view-body {
  flex: auto;
  flex-direction: column;
}

multi-step-view-header {
  background-color: var(--grey-medium);
}

multi-step-view-footer {
  background-color: var(--blue-medium);
}

multi-step-view button {
  border: 4px solid var(--blue-dark);
  background-color: var(--blue-dark);
}

multi-step-view button:hover {
  border: 4px solid var(--blue-deep);
}

multi-step-view-header span {
  padding: 8px;
  border-radius: var(--default-border-radius);
  background-color: var(--grey-light);
}

/* ai-dialog
------------------------------*/

ai-dialog-overlay.active {
  opacity: 0.5 !important;
  background-color: var(--black);
}
